<template name="exProfile">
	<div class="biography">
      <div class="myphoto">
        <img src="img/myphoto.jpg" alt="">
      </div>
      <ul>
        <li><strong>Name:</strong> John Doe</li>
        <li><strong>Date of birth:</strong> 05 Dec 1993</li>
        <li><strong>Address:</strong> 239/2 Awesome Street, USA</li>
        <li><strong>Nationality:</strong> American</li>
        <li><strong>Phone:</strong> (000) 1234 56789</li>
        <li><strong>Email:</strong> yourmail@iamx.com</li>
      </ul>
    </div>
</template>