<template name="goals">
	<section class="service-section text-center" data-stellar-vertical-offset="50" data-stellar-background-ratio="0.2">
      <div class="hire-section-bg">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <h2>Goal</h2>
              <h3>Develop a roadmap for students to be exposed to Information Technology career paths and guided through mid-career.</h3>
              <a href="#" class="btn btn-default">Get Started</a>
            </div><!-- /.col-md-12 -->
          </div><!-- /.row -->
        </div><!-- /.container -->
      </div><!-- /.hire-section-bg -->
    </section><!-- End Hire Section -->
</template>