<template name="works">
	    <!-- Resume Section -->
    <section id="resume" class="resume-section section-padding">
        <div class="container">
            <h2 class="section-title wow fadeInUp">What we Do</h2>
            <div class="row">
                <div class="col-md-8 col-md-push-2">
                    <h3>Develop Career Pipelines</h3>
                    <div class="hr-s"></div>
                    <p>We develop unique career pathways for students interested in technology fiels and match them with organizations near them to achieve their goals.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="resume-title">
                        <h3>Software Developer</h3>
                    </div>
                </div>
                <div class="row">
                	<div class="col-md-8">
                		{{> exPipeline}}
                    </div> <!-- /col-md-8 -->
                	<div class="col-md-4">
                		{{> exProfile}}
                	</div> <!-- /col-md-4 -->
                </div> <!-- /row -->
                <div class="row mt">
                    <div class="col-md-4">
                        <h3>Vet Programs</h3>
                        <div class="hr-s"></div>
                    </div>
                    <div class="col-md-4">
                        <h3>Identify Gaps</h3>
                        <div class="hr-s"></div>
                    </div>
                    <div class="col-md-4">
                        <h3>Apprenticeship &amp; Mentor Programs</h3>
                        <div class="hr-s"></div>
                    </div>
                </div> <!-- / programs row -->
            </div><!-- /row -->
        </div><!-- /.container -->
    </section><!-- End Resume Section -->
</template>